.active {
    background-color: #a3b18a;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a3b18a; 
    padding: 1rem; 
    position: sticky;
}

.logo-search-container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 2.2rem; /* Adjust the height of the logo */
    margin-right: 1rem; /* Add margin to separate the logo from the search bar */
    margin-top: 2px;
    display: block; /* Ensures that margin auto works */
    margin: 0 auto; /* Center the logo horizontally */
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border: 0.075rem solid #606c38;
    border-radius: 1rem;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.search:focus{
    border: 0.15rem solid #606c38;


}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 1rem; 
}

.links {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.links:hover {
    background-color: rgba(255, 255, 255, 0.1);
    
}

.links:not(.active):hover {
    background-color: white;
    transition: 0.5s ease;
    color: #606c38;
}

.menu {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 0.75rem;
    right: 0.5rem;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;
    margin-top: 5px;
}

.menu span {
    height: 0.25rem;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
}

@media(max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
        margin-top: 7px;
    }
    nav ul li {
        width: 100%;
        text-align: center;
        margin-top: 2px;
        
    }

    .links {
        margin: 1rem;
    }
}
