/* Establish a base font size */
html {
    font-size: 16px; 
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Styling for the form container */
/* Styling for the form container */
.form-container {
    width: 100%;
    max-width: 37.5rem; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
/* Animation for form entrance */
@keyframes formEntrance {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Apply the animation to the form container */
.form-container {
    animation: formEntrance 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}





/* Styling for the form */
.show{
    background-color: #606c38;
    padding: 0.75rem;
    color: white;
    border: 0.25rem solid white;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 3rem;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
   
}
.form {
    background-color: #fff;
    padding: 1.25rem; 
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
    width: 100%; /* Take full width of container */
    max-width: 37.5rem; /* Adjust max-width as needed */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Styling for the input fields */

.input,
.review {
    margin-bottom: 0.625rem; 
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 90%;
}

.input,
.submit-button {
    padding: 0.75rem; 
    border: 0.0625rem solid #dddfe2; 
    border-radius: 0.3125rem; 
    font-size: 1rem; 
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.review {
    width: 90%;
    height: 5rem; 
    padding: 0.75rem; 
    margin-bottom: 0.625rem; 
    border: 0.0625rem solid #dddfe2; 
    border-radius: 0.3125rem; 
    font-size: 1rem; 
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Styling for the submit button */
.submit-button {
    background-color: #a3b18a;
    color: #fff;
    cursor: pointer;
    width: 95%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Styling for the submit button on hover */
.submit-button:hover {
    background-color: #606c38;
}

