.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.post-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    padding: 16px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .post-header h3 {
    margin-bottom: 8px;
    font-size: 18px;
  }
  
  .hide-button {
    margin-left: auto;
    margin-right: 10px;
    background-color: #606c38; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 8px 8px; 
    font-size: 14px; 
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 90px;
  }
  
  
  
  .post-header img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .post-header p {
    margin-bottom: 16px;
    font-size: 14px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .comment-section {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
  }
  
  .comment-bubble {
    background-color: #e4e7ea;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
  }

  .divider {
    border-top: 1px solid #c2c2c2; 
    
  }


  
  
  .engagement-container{
    display: flex;
    margin-top: 1rem;
    /* justify-content: space-between;
    align-items: flex-start;  */
  }

    .like-button-container{
      display: flex;
      flex-direction: row;
    }

        .like-button, .dislike-button{
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        .comment-button{
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: start;
        }


  
  
  